## Observations and Insights

In [100]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_merged = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
mouse_merged.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [101]:
# Removing duplicates

In [102]:
# Checking the number of mice.
# This is a count of the total unique mice
unique_mouse = mouse_merged['Mouse ID'].unique()
print(f'There are {len(unique_mouse)} mice in the test')

There are 249 mice in the test

In [103]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_data = mouse_merged[mouse_merged.duplicated(subset=['Mouse ID', 'Timepoint']) == True]
print(f'These are the duplicated values')
display(dup_data)

# Optional: Get all the data for the duplicate mouse ID. 
disp_dups = mouse_merged[mouse_merged['Mouse ID'] == "g989"].head(10)
print(f'This table shows how many times the values are duplicated')
display(disp_dups)

These are the duplicated values

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

This table shows how many times the values are duplicated

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1

In [104]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_merged_fixed = mouse_merged.drop_duplicates(['Mouse ID'], keep='last')
mouse_merged_fixed.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1

In [105]:
# Checking the number of mice in the clean DataFrame.
mouse_merged_fixed['Mouse ID'].count()

249

## Summary Statistics

In [112]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
regimen_summ = mouse_merged_fixed.groupby('Drug Regimen')['Tumor Volume (mm3)']
regimen_mean = regimen_summ.mean()
regimen_median = regimen_summ.median()
regimen_var = regimen_summ.var()
regimen_std = regimen_summ.std()
regimen_sem = st.sem(regimen_summ)

# regimen_described = pd.DataFrame({'Mean':regimen_mean,
#                                 'Median':regimen_median,
#                                 'Variance':regimen_var,
#                                 'Standard Deviation':regimen_std},
#                                 'SEM':regimen_sem)
regimen_described

C:\Users\Jose.Vazquez\Anaconda3P\lib\site-packages\scipy\stats\stats.py:269: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [108]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
regimen_summ = mouse_merged_fixed.groupby('Drug Regimen')['Tumor Volume (mm3)'].agg([('Mean','mean'), ('Median', 'median'), ('Variance', np.var), ('Standard Deviation', np.std), ('SEM', st.sem)])
regimen_summ

C:\Users\Jose.Vazquez\Anaconda3P\lib\site-packages\numpy\core\_methods.py:217: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\Users\Jose.Vazquez\Anaconda3P\lib\site-packages\numpy\core\_methods.py:186: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
C:\Users\Jose.Vazquez\Anaconda3P\lib\site-packages\numpy\core\_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

                   Mean     Median    Variance  Standard Deviation       SEM
Drug Regimen
Capomulin     36.667568  38.125164   32.663378            5.715188  1.143038
Ceftamin      57.753977  59.851956   69.982735            8.365568  1.673114
Infubinol     58.178246  60.165180   74.010875            8.602957  1.720591
Ketapril      62.806191  64.487812   98.921330            9.945920  1.989184
Naftisol      61.205757  63.283288  106.029927           10.297083  2.059417
Placebo       60.508414  62.030594   78.759797            8.874672  1.774934
Propriva      56.736964  55.841410   69.349002            8.327605  1.665521
Ramicane      36.191390  36.561652   32.166354            5.671539  1.134308
Stelasyn      61.001707  62.192350   90.331586            9.504293  1.940056
Zoniferol     59.181258  61.840058   76.862027            8.767099  1.753420

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen